/**
 * (C) Copyright 2024 - ToasterCat Studios LLC
 */

/** 
 * Desktop / Horizontal
 */
@media all and (min-width: 50rem) {
    /**
     * HEADER / FOOTER
     */
    #header {
        min-height: 4rem;
    }
    .header {
        height: 4rem;
    }
    .header-brand {
        width: 28rem;
    }
    .header-logo {
        height: 3.5rem;
        width: 3.5rem;
    }
    .header-short-name {
        display: none;
    }
    #footer {
        min-height: 5rem;
    }
    .footer {
        height: 5rem;
    }

    /**
     * COMMON SECTIONS
     */
    .section {
        width: 50rem;;
    }
    /* tools */
    .section-list {
        max-height: 40rem;
    }

    .section-hero {
        width: 800px;
    }
    .hero-badge {
        width: 20rem;
    }

    /* albums */
    .section-album {
        width: 50rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 16rem 24rem; /* y, x */
        align-items: flex-start;
        
        /*display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;*/
        
        grid-template-areas:
            "b a"
            "b c"
            "b c";
    }
    .album-info {
        grid-area: a;
    }
    .album-info h1 {
        margin: .5rem 0rem 1.5rem;
    }
    .album-bandcamp-embed {
        width: 24rem;
        height: 47rem;
        padding: 0;
        margin: 0;
        grid-area: b;
    }
    .album-bandcamp-embed iframe {
        width: 24rem;
        height: 47rem;

        border-radius: 5px;
        border: 0;

        opacity: 80%
    }
    .album-soundcloud-embed {
        width: 24rem;
        height: 24rem;
        padding: 0;
        margin: 0;
        grid-area: b;
    }
    .album-soundcloud-embed iframe {
        width: 24rem;
        height: 24rem;

        border-radius: 5px;
        border: 0;

        opacity: 80%
    }
    .album-blurb {
        width: 100%;
        max-height: 32rem;
        grid-area: c;
    }
    .album-buy-button {
        display: block;
        opacity: 80%;
    }

    /* shows */
    .section-show {
        width: 30rem;
        margin: 1rem 2rem;
    }
    .show-info h2 {
        font-size: 1.4rem;
    }
    .show-info h3 {
        font-size: 1rem;
        margin: .25rem .5rem;
        background-color: rgba(16, 16, 16, .8);
        margin: 1rem;
    }
    .show-info h4 {
        margin: .25rem;
        font-size: .7rem;
    }
    .show-thumbnail {
        width: 10rem;
        height: 12.5rem;
    }
    .show-thumbnail img {
        width: 10rem;
        height: 10rem;
    }
    .show-thumbnail h2 {
        font-size: 1rem;
        margin: .3rem 0rem;
    }
    
    /* contact form */
    .form-group {
        flex-direction: row;
    }
    textarea {
        width: 25rem;
        height: 10rem;
    }

    /**
     * COMMON COMPONENTS
     */
    .button {
        margin: 1rem;
        padding: .5rem 1rem;
    }
    .button-small {
        margin: 1rem;
        padding: .5rem 1rem;
    }
    .primary-button {
        margin: 1rem;
        padding: .5rem 1rem;
    }
    .primary-button-small {
        margin: 1rem;
        padding: .5rem 1rem;
    }
}