/**
 * Mobile / Vertical
 */
@media all and (max-width: 800px) {
    /* header */
    .header {
        height: 50px;
    }
    .header-full-name {
        display: none;
    }

    .section {
        width: 400px;
    }

    .section-hero {
        width: 400px;
    }

    .section-album {
        width: 400px;

        display: flex;
        flex-direction: column;
        justify-content: top;
    }
    .album-info {
        margin-top: 1rem;
    }
    
    /* footer */
    .footer {
        height: 5rem;
    }

    /* features */
    .button {
        margin: 10px 20px;
        padding: 20px;
    }
}