/**
 * (C) Copyright 2024 - ToasterCat Studios LLC
 */

/**
 * Mobile / Vertical
 */
@media all and (max-width: 50rem) {
    /**
     * HEADER / FOOTER
     */
    .header {
        height: 2.5rem;
    }
    .header-brand {
        width: 6rem;
        font-size: 1rem;
    }
    .header-logo {
        height: 1.5rem;
        width: 1.5rem;
    }
    .header-full-name {
        display: none;
    }
    .header .flex-spacer {
        display:none;
    }
    .header-nav {
        width: 15rem;
    }
    .header-nav a {
        font-size: 0.7rem;
    }
    
    /* footer */
    .footer {
        height: 6rem;
    }
    .footer-legal {
        font-size: .6rem;
    }
    
    /**
     * COMMON SECTIONS
     */
    .section {
        width: 15rem;
    }
    .section p {
        font-size: .7rem;
    }
    .section h1 {
        font-size: 1.5rem;
    }
    .section h2 {
        font-size: 1.2rem;
        background-color: none;
    }
    .section h3 {
        font-size: .7rem;
    }
    .section h4 {
        font-size: .6rem;
    }
    /* tools */
    section-list {
        max-height: 30rem;
    }

    /* hero */
    .section-hero {
        margin: 2rem;
    }
    .hero-badge {
        width: 13rem;
    }
    .hero-title h1 {
        font-size: 2rem;
    }
    .hero-title h3 {
        font-size: 1rem;
    }

    /* album */
    .section-album {
        width: 15rem;

        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
    }
    .album-info {
        margin-top: 1rem;
    }
    .album-info h1 {
        font-size: 1.4rem;
    }

    /* show */
    .section-show {
        margin: 1rem .2rem;
    }
    .show-thumbnail {
        width: 5rem;
    }
    .show-thumbnail h2 {
        font-size: .6rem;
    }
    .show-thumbnail img {
        width: 5rem;
        height: 5rem;
    }
    .show-info h2 {
        font-size: 0.6rem;
        border-bottom: 1ps black solid;
    }
    .show-info h3 {
        background-color: rgba(16, 16, 16, .8);
        font-size: .4rem;
        margin: .25rem;
        width: 100%;
    }
    .show-info h4 {
        font-size: 0.4rem;
        margin: .1rem;
    }
    
    /* contact form */
    .form-fields {
        width: 13rem;
        padding: 0;
        margin: 0;
    }
    .form-label {
        font-size: .7rem;
    }
    .form-text {
        width: 13rem;
    }
    .form-box {
        width: 13rem;
    }
    .form-message {
        width: 13rem;
    }
    input {
        width: 12rem;
        font-size: .6rem;
    }
    textarea {
        width: 12rem;
        height: 5rem;
        
        font-size: .6rem;
    }

    /**
     * COMMON COMPONENTS
     */
    .form-group {
        flex-direction: column;
        align-items: left;
    }
    .button {
        margin: .5rem .5rem;
        padding: .5rem;
        font-size: 1rem;
    }
    .button-small {
        margin: .5rem .5rem;
        padding: .25rem;
        font-size: .5rem;
    }
    .primary-button {
        margin: .5rem .5rem;
        padding: .5rem;
        font-size: 1rem;
    }
    .primary-button-small {
        margin: .5rem .5rem;
        padding: .25rem;
        font-size: .5rem;
    }
    
    /* image formats */
    .social {
        padding: 0;
        margin: .3rem;
        width: 1.4rem;
    }
    .logo {
        width: 1.7rem;
    }
    .badge {
        width: 4rem;
    }
}