@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
}

/** =======================================================
 * BASE DOCUMENT - GLOBAL DEFAULTS
 * ====================================================== */
html,
body {
    width: 100%;
    height: 100%;
    
    /* Font */
    font-family: "Roboto";
    color: lightgray;
    font-size: 15px;
    
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    margin: 0;
    padding: 0;
}


/** =======================================================
 * HEADER
 * ====================================================== */
.header {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgba(16,16,16, .3);
}
.header-brand {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    font-family: "RobotoSlab";
    font-size: 25px;
    vertical-align: middle;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.header-nav a {
    padding: 10px;
}


/** =======================================================
 * FOOTER
 * ====================================================== */
.footer {
    width: 100%;
    background-color: rgba(16,16,16, 0.3);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    padding: 20px 0px;
    text-align: center;
}
.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center
}
.footer-legal {
    font-size: 10px;
}


/** =======================================================
 * PAGE CONTAINER
 * ====================================================== */
.page-container {
    width: 100%;
    height: 100%;
    
	background-color: rgba(32, 32, 32, 0.5);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-family: "Roboto";
}


/**
 * Core Sections
 */
.section {
    width: 500px;
    margin: 2rem;

    background-color: rgba(16,16,16, .8);
    
    display: flex;
    flex-direction: column;
    
    border: 5px, black;
    border-radius: 5px;
}
.section h1 {
    width:100%;
    margin: 0;
    padding: 5px 0px;

    background-color: rgba(64,16,16, .5);

    border: 2px, black;
    border-radius: 5px;
}
.section h3 {
    width: 100%;
    margin: 0;
    padding: 2px 0px;

    background-color: rgba(64,16,16, .5);
}
.section p {
    text-align: justify;
    margin: 10px;
}

/**
 * Hero Section
 */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title div {
    display: flex;
    flex-direction: column;
}
.hero-title h1 {
    font-size: 40px;
    font-weight: 300;
}
.hero-title h3 {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}
.hero-button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/**
 * Common Sections
 */
.section-album {
    width: auto;
    margin: 0;
    padding: 2rem;

    background-color: rgba(16,16,16, .5);
    border: 5px, black;
    border-radius: 15px;
}
.album-bandcamp-embed {
    width: 400px;
    height: 340px;
    padding: 0;
    margin: 0;
}
.album-info {
    width: 390px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}
.album-info h1 {
    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
    font-style: italic;
    font-size: x-large;
}
.album-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.album-blurb {
    font-style: italic;
    font-size: medium;
}



/**
 * Common Components
 */
.social {
    width: 30px;
    padding: 10px;
}
.logo {
    width: 50px;
    padding: 0px 12px;
}


/**
 * ACTION BUTTONS
 */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #f7c72a;
    border: 2px solid #f7c72a;
    border-radius: 10px;
}


/** =======================================================
 * ELEMENT GLOBAL DEFAULTS
 * ====================================================== */
div {
    /*border: 1px dashed grey;*/
    border-radius: 4px;
    
    padding: 0;
    margin: 0;
}

a {
    color: lightgray;
    font-style: normal;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: white;
}

p {
    text-align: left;
    margin: 10px;
}