/**
 * (C) Copyright 2021 - ToasterCat Studios LLC
 */

/* Roboto (body) */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 100;
}
/*@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic, oblique;
}*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: bold;
}
/*@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic, oblique;
}*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-weight: bolder;
}
/* RobotoSlab (heading) */
@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
}

:root {
    --color-dark: #33373A;
    --color-darkred: #320404;
    --color-primary: #f7c72a;
    --color-slate: #84847C;

    --color-font: lightgray;
    --font-size: 1rem;
}

/** =======================================================
 * BASE DOCUMENT - GLOBAL DEFAULTS
 * ====================================================== */
html,
body {
    width: 100%;
    height: 100%;
    
    /* Font */
    font-family: "Roboto";
    color: lightgray;
    font-size: var(--font-size);
    font-weight: var(--color-font);
    
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    margin: 0;
    padding: 0;
}


/** =======================================================
 * HEADER
 * ====================================================== */
.header {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgba(16,16,16, .3);
}
.header-brand {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    font-family: "RobotoSlab";
    font-size: 2rem;
    vertical-align: middle;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.header-nav a {
    padding: 10px;
}


/** =======================================================
 * FOOTER
 * ====================================================== */
.footer {
    width: 100%;
    background-color: rgba(16,16,16, 0.3);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    padding: 20px 0px;
    text-align: center;
}
.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center
}
.footer-legal {
    font-size: 10px;
}
.footer-legal p {
    text-align: center;
}


/** =======================================================
 * PAGE CONTAINER
 * ====================================================== */
.page-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
	background-color: rgba(32, 32, 32, 0.5);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-family: "Roboto";
}


/**
 * Core Sections
 */
.section {
    width: 25rem;
    margin: 2rem;

    background-color: rgba(16,16,16, .8);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 5px, black;
    border-radius: 5px;
}
.section h1 {
    width:100%;
    margin: 0;
    padding: 5px 0px;

    background-color: #320404;
    opacity: .75;

    border-radius: 5px;
}
.section h3 {
    width: 100%;
    margin: 0;
    padding: 2px 0px;

    background-color: #320404;
    opacity: .75;

    border-radius: 3px;
}
.section p {
    text-align: center;
    margin: 1rem;
}

/**
 * Hero Section
 */
.section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(16,16,16, .3);
    border: 5px black;
    border-radius: 15px;

    padding: 3rem;
}
.hero-title div {
    display: flex;
    flex-direction: column;
}
.hero-title h1 {
    font-family: "RobotoSlab";
    font-size: 40px;
    font-weight: bolder;
}
.hero-title h3 {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}
.hero-button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/**
 * Common Sections
 */
.section-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;

    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* album */
.section-album {
    margin: 0;
    padding: 2rem;

    background-color: rgba(16,16,16, .5);
    border: 5px black;
    border-radius: 15px;
}
.album-bandcamp-embed {
    width: 400px;
    height: 340px;
    padding: 0;
    margin: 0;
}
.album-info {
    width: 390px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}
.album-info h1 {
    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
    font-style: italic;
    font-size: x-large;
}
.album-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.album-blurb {
    font-size: medium;
}

/* show */
.section-show {
    border: 10px black;
    border-radius: 5px;
    background-color: #33373A;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.show-thumbnail {
    border: 4px solid black;
    border-radius: 7px;
    background-color: var(--color-dark);

    display: flex;
    flex-direction: column;
}
.show-thumbnail img {
    opacity: .5;
    object-fit: cover;
    object-position: center;
}
.show-info {
    display: flex;
    flex-direction: column;
    align-items: right;

    margin-left: 1rem;
}
.show-info h3 {
    font-size: medium;
    font-style: italic;
}


/**
 * Common Components
 */
.row {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* CONTACT FORM */
.form-group {
    margin: 0;
    padding: 0;

    display:flex;
}
.form-fields {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.form-box {
    width: 100%;
}
.form-row {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-column {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.form-label {
    font-family: "Roboto";
    font-weight: bold;
    text-align: left;
}
.form-text {
    width: auto;
    display: flex;
    align-items: left;
}
.form-message{ 
    width: auto;
    align-items: left;
}

 /* IMAGE FORMATS */
.social {
    width: 30px;
    padding: 10px;
}
.logo {
    width: 50px;
    padding: 0px 12px;
}


/* ACTION BUTTON */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0,0,0,0);
    border: 2px solid var(--color-slate);
    border-radius: 10px;

    color: #a0a094;
    font-family: 'Roboto';
    font-weight: bold;

    transition:
        color 0.5s,
        border 0.5s,
        background-color 0.5s;
}
.button:hover {
    color: black;

    border-color: black;
    background-color: var(--color-slate);

    cursor: pointer;
}

.primary-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0,0,0,0);

    border: 2px solid var(--color-primary);
    border-radius: 10px;

    color: var(--color-primary);
    font-family: 'Roboto';
    font-weight: bold;

    transition:
        color 0.5s,
        border 0.5s,
        background-color 0.5s;
}
.primary-button:hover {
    color: black;
    border-color: black;
    background-color: var(--color-primary);

    cursor: pointer;
}


/** =======================================================
 * ELEMENT GLOBAL DEFAULTS
 * ====================================================== */
div {
    /*border: 1px dashed grey;*/
    border-radius: 4px;
    
    padding: 0;
    margin: 0;
}

a {
    color: lightgray;
    font-style: normal;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: white;
}

h1 {
    font-family: "RobotoSlab";
    font-weight: normal;
}

h3 {
    font-family: "Roboto";
    font-weight: bold;
}

p {
    font-family: "Roboto";
    font-weight: 100;

    text-align: left;
    margin: 10px;
}

input {
    height: var(--font-size);

    background-color: #33373A;
    color: lightgray;
    border: border 1px solid white;
    border-radius: 0;

    font-size: var(--font-size);
    font-family: "Roboto";
    font-weight: 100;
}

textarea {
    min-width: 20rem;
    max-width: 25rem;
    min-height: 10rem;
    max-height: 20rem;
    overflow: auto;

    background-color: var(--color-dark);
    color: lightgray;
    border: border 1px solid white;
    border-radius: 0;

    font-family: "Roboto";
    font-weight: 100;
}