/**
 * (C) Copyright 2024 - ToasterCat Studios LLC
 */

/* Roboto (body) */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-weight: bolder;
}
/* RobotoSlab (body heading) */
@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
}
/* Olde English (brand heading) */
@font-face {
    font-family: "OldEnglish";
    src: url("../fonts/OldEnglish.ttf") format("truetype");
    font-weight: 100;
}

:root {
    --color-dark: #33373A;
    --color-darkred: #320404;
    --color-primary: #f7c72a;
    --color-slate: #84847C;

    --color-font: lightgray;
    --font-size: 1rem;
}

/** =======================================================
 * BASE DOCUMENT - GLOBAL DEFAULTS
 * ====================================================== */
html,
body {
    width: 100%;
    height: 100vh;
    
    display: flex;
    z-index: 0;
    
    /* Font */
    font-family: "Roboto";
    color: lightgray;
    font-size: var(--font-size);
    font-weight: var(--color-font);
    
    margin: 0;
    padding: 0;
    
    background-color: black;
    scrollbar-color: grey black;
}

/** =======================================================
 * PAGE CONTAINER
 * ====================================================== */
#page-container {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    
	background-color: rgba(32, 32, 32, 0.5);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-family: "Roboto";
}
#bg {
    width:100%;
    min-height:100vh;
    left:0px;
    top:0px;
    z-index:-1;
    
    background-image: url("../images/hero.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
}


/** =======================================================
 * HEADER
 * ====================================================== */
#header {
    width: 100%;
}
#header-container {
    width: 100%;
}
.header {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgba(16,16,16, .4);
    backdrop-filter: grayscale(50%) blur(5px);
}
.header-brand {
    height: inherit;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    
    font-family: "OldEnglish";
    font-size: 1.7rem;
    text-shadow: black -2px -2px;
}
.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}
.header-logo img {
    height: inherit;
    width: inherit;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-nav a {
    padding: 10px;
}


/** =======================================================
 * FOOTER
 * ====================================================== */
#footer {
    width: 100%;
}
.footer {
    width: 100%;
    background-color: rgba(16,16,16, 0.4);
    backdrop-filter: grayscale(50%) blur(5px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    padding: 20px 0px;
    text-align: center;
}
.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center
}
.footer-legal {
    font-size: 10px;
}
.footer-legal p {
    text-align: center;
}


/**
 * Core Sections
 */
.section {
    width: 25rem;
    margin: 2rem;
    
    border-radius: .8rem;
    background-color: rgba(16, 16, 16, .4);
    backdrop-filter: grayscale(50%) blur(5px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section h1 {
    width:100%;
    margin: 1rem 1rem;
    padding: 5px 0px;

    border-radius: 5px;
}
.section h2 {
    width: 100%;
    margin: 0;
    padding: 2px 0px;
    
    font-family: "RobotoSlab";
    font-weight: 100;

    border-radius: 5px;
}
.section h3 {
    width: 100%;
    margin: 0;
    padding: 2px 0px;

    border-radius: 5px;
    
    font-style: italic;
}
.section h4 {
    font-style: italic;
    font-weight: 100;
    opacity: 80%;
}
.section p {
    text-align: center;
    margin: 0rem 1rem 1rem 1rem;
}
.sub-section {
    background-color: rgba(16, 16, 16, .8);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    
    border-radius: 5px;
    
    max-width: 27rem;
}
.sub-section h2 {
    margin: 0rem;
}
.sub-section h3 {
    margin: .5rem 0rem;;
    font-weight: 100;
}
.sub-section p {
    display: block;
    text-align: left;
    margin: 1rem;
    align-items: left;
    
    font-size: .8rem;
}

/**
 * Section Tools
 */
.section-divider {
    width: 100%;
    margin: 1rem 0rem;
    
    opacity: 70%; 
    filter: drop-shadow(.25rem .25rem .2rem #020202);
}
.section-list {
    background-color: rgba(16, 16, 16, .8);
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    
    overflow-y: auto;
    overflow-x: hidden;
}
.section-list-divider {
    width: 100%;
}


/**
 * Hero Section
 */
.section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;

    margin: 2rem;
    padding: 1rem;
    
    filter: drop-shadow(.5rem .75rem .2rem #020202);
}
.hero-badge {
    opacity: 80%;
}
.hero-title div {
    display: flex;
    flex-direction: column;
}
.hero-title h1 {
    font-family: "OldEnglish";
    font-size: 40px;
    font-weight: normal;
    text-shadow: black -2px -2px;
}
.hero-title h3 {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}
.hero-button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.section-page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 15px;

    margin-top: 2rem;
    padding: 1rem;
    
    filter: drop-shadow(.5rem .75rem .2rem #020202);
}
.section-page-title h1 {
    font-family: "OldEnglish";
    text-shadow: black -2px -2px;
}


/* album */
.section-album {
    margin: 2rem;
    padding: 1rem;

    border-radius: .8rem;
    background-color: rgba(16, 16, 16, .4);
    backdrop-filter: grayscale(50%) blur(5px);
}
.album-bandcamp-embed {
    padding: 0;
    margin: 0;
        
    opacity: 90%;
}
.album-bandcamp-embed iframe {
    border-radius: 5px;
    border: 0;
}
.album-soundcloud-embed {
    padding: 0;
    margin: 0;
    
    opacity: 70%;
}
.album-soundcloud-embed iframe {
    border-radius: 5px;
    border: 0;
}
.album-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.album-info h1 {
    margin: 1rem;
    padding: 0;

    text-align: center;
    font-style: italic;
    font-size: x-large;
}
.album-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.album-blurb {
    max-height: 16rem;
    overflow-x: none;
    overflow-y: auto;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}
.album-buy-button {
    display: none;
}


/* show */
.section-show {
    border: 10px black;
    border-radius: 5px;
    background-color: rgb(50,50,50);

    padding: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.show-thumbnail {
    border: 4px solid black;
    border-radius: 7px;
    background-color: rgba(16,16,16, .8);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.show-thumbnail img {
    opacity: .5;
    object-fit: cover;
    object-position: center;
}
.show-info {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 1rem;
}
.show-info h2 {
    background-color: inherit;
}
.show-info h3 {
    width: 100%;
    font-style: italic;
    background-color: rgba (16, 16, 16, .8);
}
.show-info h4 {
    font-style: italic;
    font-weight: 100;
}
.show-blurb {
    width: 100%;
    margin: 0;
    padding: 0;
}

/**
 * Contact
 */
.contact-social-links {
    margin: 1rem 2rem 2rem 2rem;
}

/**
 * Common Components
 */
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* CONTACT FORM */
.form-group {
    margin: 0;
    padding: 0;

    display:flex;
}
.form-fields {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.form-box {
    width: 100%;
}
.form-row {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-column {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.form-label {
    font-family: "Roboto";
    font-weight: bold;
    text-align: left;
}
.form-text {
    align-items: left;
}
.form-message{
    align-items: left;
}

 /* IMAGE FORMATS */
.social {
    width: 2rem;
    padding: 10px;
}
.logo {
    width: 3.125rem;
    padding: 0px 12px;
}
.badge {
    width: 7rem;
}
.loading {
    filter: invert();
}


/* ACTION BUTTON */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0,0,0,0);
    border: 2px solid var(--color-slate);
    border-radius: 10px;

    color: #a0a094;
    font-family: 'Roboto';
    font-weight: bold;

    transition:
        color 0.5s,
        border 0.5s,
        background-color 0.5s;
}
.button:hover {
    color: black;

    border-color: black;
    background-color: var(--color-slate);

    cursor: pointer;
}
.button-small {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0,0,0,0);
    border: 1px solid var(--color-slate);
    border-radius: 5px;

    color: #a0a094;
    font-family: 'Roboto';
    font-weight: bold;

    transition:
        color 0.5s,
        border 0.5s,
        background-color 0.5s;
}
.button-small:hover {
    color: black;

    border-color: black;
    background-color: var(--color-slate);

    cursor: pointer;
}

.primary-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0,0,0,0);

    border: 2px solid var(--color-primary);
    border-radius: 10px;

    color: var(--color-primary);
    font-family: 'Roboto';
    font-weight: bold;

    transition:
        color 0.5s,
        border 0.5s,
        background-color 0.5s;
}
.primary-button:hover {
    color: black;
    border-color: black;
    background-color: var(--color-primary);

    cursor: pointer;
}

.primary-button-small {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(0,0,0,0);

    border: 1px solid var(--color-primary);
    border-radius: 5px;

    color: var(--color-primary);
    font-family: 'Roboto';
    font-weight: bold;

    transition:
        color 0.5s,
        border 0.5s,
        background-color 0.5s;
}
.primary-button-small:hover {
    color: black;
    border-color: black;
    background-color: var(--color-primary);

    cursor: pointer;
}


/** =======================================================
 * ELEMENT GLOBAL DEFAULTS
 * ====================================================== */
div {
    /*border: 1px dashed grey;*/
    border-radius: 4px;
    
    padding: 0;
    margin: 0;
}

form {
    margin: 0;
    padding: 0;
}

a {
    color: lightgray;
    font-style: normal;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: white;
}

h1 {
    font-family: "RobotoSlab";
    font-weight: normal;
}

h3 {
    font-family: "Roboto";
    font-weight: bold;
}

p {
    font-family: "Roboto";
    font-weight: 100;

    text-align: left;
    margin: .5rem;
}
.p-group {
    margin: 1rem;
    padding: 0;
}
.p-group p {
    margin: .1rem;
}

input {
    height: var(--font-size);

    background-color: transparent;
    color: var(--color-font);
    border-radius: 5px;
    border: 1ps solid grey;

    font-size: var(--font-size);
    font-family: "Roboto";
    font-weight: 100;
    box-shadow: none;
    text-shadow: none;
}

textarea {
    overflow: auto;

    background-color: transparent;
    color: lightgray;
    border: border 1px solid grey;
    border-radius: 5px;

    font-family: "Roboto";
    font-weight: 100;
}