<!-- 
    STANDARD PAGE HEADER
-->
<div class="header">
    <a href="../index.html" class="brand">
        <div class="header-brand">
            <div class="header-logo">
                <img src="../images/OAS-logo.png" class="logo"/>
            </div>
            <div class="header-full-name"> Octopus Attacks Shark!! </div>
            <div class="header-short-name"> OAS </div>
        </div>
    </a>
    <div class="flex-spacer"></div>
    <div class="header-nav">
        <!--<a href="./about.html">BAND</a>-->
        <a href="./music.html">MUSIC</a>
        <a href="./shows.html">SHOWS</a>
        <a href="https://merch.octopus-attacks-shark.com/">MERCH</a>
        <a href="./contact.html">CONTACT</a>
    </div>
</div>